@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
#logo {
  display: flex;

  text-decoration: none;
  color: rgb(238, 232, 221);
}
#logo img {
  position: relative;
  width: 30px;
  height: 30px;
}

#menu ul {
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-around;
  list-style: none;
}
#menu ul li a {
  text-decoration: none;
  color: white;
}

.header div button {
  height: 40px;
  color: rgb(128, 75, 75);
}
.header {
  display: flex;
  justify-content: space-between;
  color: white;
  position: sticky;
  padding-top: 10px;
  height: 50px;
  width: 90%;
}
.headerContent {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.headerContent img {
  margin-top: 5%;
  width: 40%;
  height: 40%;
}
.headerContent div {
  width: 40%;
}
.headerContent div p {
  color: rgb(206, 206, 206);
  font-weight: 500;
}
.serviceBtn button {
  background-color: rgba(0, 0, 0, 0.13);
  width: 30%;
  height: 60px;
  border-radius: 30px;
  border: solid 0;
  box-shadow: black 5px 5px 8px;
  font-size: "Poppins";
  /* font-weight: 700; */
  font-size: 18px;
  color: antiquewhite;
}

.headerBG {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.303);
}
